@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard";
  box-sizing: border-box;
}
